{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}

<h1 class="mb-4 mt-5 display-3 text-center topic">About ImgKmprssr</h1>

<p class="display-5">Inspiration</p>
<p>
    ImgKmprssr was born out of frustration—ever tried uploading a high-res image only to be met with slow load
    times?
    That's where our journey began. The desire for snappy websites and seamless image loading experiences led to
    the
    creation of ImgKmprssr, a tool that's all about squeezing out the unnecessary bytes without sacrificing
    quality.
</p>

<p>
    This project is more than just a ALX SE requirement; it's a testament to our commitment to
    enhancing
    user experiences across the web. ImgKmprssr is not just a tool; it's a passion project that speaks to the
    heart
    of efficient and delightful digital interactions.
</p>

<p>
    We embarked on this journey as a team of dedicated individuals, each bringing unique skills to the table.
    Whether
    you're here out of curiosity or necessity, ImgKmprssr is ready to make your digital world a bit lighter.
</p>

<h2 class="mt-4 display-5">Meet the Team</h2>

<ul class="list-unstyled">
    <li><a class="text-decoration-none" href="https://www.linkedin.com/in/ifeanyi-okoh-257940202" target="_blank">Samuel
            Okoh - LinkedIn</a>
    </li>
    <li><a class="text-decoration-none" href="https://github.com/Dcardinal042" target="_blank">Samuel Okoh - GitHub</a>
    </li>
    <li><a class="text-decoration-none" href="https://www.twitter,com/OkohSamuelIfea1" target="_blank">Samuel Okoh -
            Twitter</a></li>
</ul>

<ul class="list-unstyled">
    <li><a class="text-decoration-none" href="https://www.linkedin.com/in/kwabena-boakye-917530197"
           target="_blank">Kwabena Boakye - LinkedIn</a>
    </li>
    <li><a class="text-decoration-none" href="https://github.com/kingkobi01" target="_blank">Kwabena Boakye - GitHub</a>
    </li>
    <li><a class="text-decoration-none" href="https://twitter.com/PapaYiadom" target="_blank">Kwabena Boakye -
            Twitter</a></li>
</ul>

<!-- Repeat the above structure for each team member -->

<p class="mt-4">
    Explore ImgKmprssr on <a class="text-decoration-none" href="https://github.com/kingkobi01/ImgKmprssr"
       target="_blank">GitHub</a> and
    join
    us on this quest for faster, lighter, and more enjoyable online experiences!
</p>


{% endblock content %}